# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_TOTEM_LEFT
    def_bool $(shields_list_contains,totem_left)

config SHIELD_TOTEM_RIGHT
    def_bool $(shields_list_contains,totem_right)

config SHIELD_TOTEM_DONGLE
    def_bool $(shields_list_contains,totem_dongle)

config SHIELD_TOTEM_ESB_LEFT
    def_bool $(shields_list_contains,totem_esb_left)

config SHIELD_TOTEM_ESB_RIGHT
    def_bool $(shields_list_contains,totem_esb_right)

config SHIELD_TOTEM_ESB_DONGLE
    def_bool $(shields_list_contains,totem_esb_dongle)

config SHIELD_TOTEM_ESB_BENCHMARK
    def_bool $(shields_list_contains,totem_esb_benchmark)

config SHIELD_TOTEM_ESB_V3
    def_bool $(shields_list_contains,totem_esb_v3)
