# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TOTEM_DONGLE

config ZMK_KEYBOARD_NAME
    default "TOTEM"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT || SHIELD_TOTEM_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif

if (SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT || SHIELD_TOTEM_DONGLE) && ZMK_BLE

choice BT_CTLR_TX_PWR
    default BT_CTLR_TX_PWR_PLUS_8
endchoice

config BT_CTLR_PHY_2M
    default n

endif

if SHIELD_TOTEM_ESB_DONGLE

config ZMK_KEYBOARD_NAME
    default "TOTEM V3 TEST" if SHIELD_TOTEM_ESB_V3 && TOTEM_ESB_V3_CI_TEST_KEYS
    default "TOTEM V3" if SHIELD_TOTEM_ESB_V3
    default "TOTEM ESB"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_TOTEM_ESB_LEFT || SHIELD_TOTEM_ESB_RIGHT || SHIELD_TOTEM_ESB_DONGLE

config ZMK_SPLIT
    default y

endif
