//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&sk>, <&kp>;
        };

        tapdance: tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE";
            #binding-cells = <0>;
            bindings = <&mo 4>, <&kmswitch>;
        };

        jum2: jum2 {
            compatible = "zmk,behavior-mod-morph";
            label = "JUM2";
            bindings = <&kp PERIOD>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        question: question {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION";
            bindings = <&kp EXCLAMATION>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        shiftsk: shiftsk {
            compatible = "zmk,behavior-sticky-key";
            label = "SHIFTSK";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };

        shiftmodmorph: shiftmodmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFTMODMORPH";
            bindings = <&shiftsk LEFT_SHIFT>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        shiftht: shiftht {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFTHT";
            bindings = <&kp>, <&shiftmodmorph>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        mousealttab: mousealttab {
            compatible = "zmk,behavior-mod-morph";
            label = "MOUSEALTTAB";
            bindings = <&to 0>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        bracketmod: bracketmod {
            compatible = "zmk,behavior-mod-morph";
            label = "BRACKETMOD";
            bindings = <&bracket>, <&bracket2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        atlayerhmbe: atlayerhmbe {
            compatible = "zmk,behavior-hold-tap";
            label = "ATLAYERHMBE";
            bindings = <&atlayerhm>, <&atlayertab>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
        };

        atlayerspeed: atlayerspeed {
            compatible = "zmk,behavior-hold-tap";
            label = "ATLAYERSPEED";
            bindings = <&mo>, <&atlayertab>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        atlayerdo: atlayerdo {
            compatible = "zmk,behavior-hold-tap";
            label = "ATLAYERDO";
            bindings = <&fancyzone>, <&atlayertab>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        atlayerdo2: atlayerdo2 {
            compatible = "zmk,behavior-hold-tap";
            label = "ATLAYERDO2";
            bindings = <&kp>, <&atlayertab>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        numsymtog: numsymtog {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMSYMTOG";
            bindings = <&to 2>, <&to 0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        numsymtog2: numsymtog2 {
            compatible = "zmk,behavior-mod-morph";
            label = "NUMSYMTOG2";
            bindings = <&mo 2>, <&mo 0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        numsymbtn: numsymbtn {
            compatible = "zmk,behavior-hold-tap";
            label = "NUMSYMBTN";
            bindings = <&numsymtog2>, <&numsymtog>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        nummmm: nummmm {
            compatible = "zmk,behavior-hold-tap";
            label = "NUMMMM";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        deletemodmorph: deletemodmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "DELETEMODMORPH";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mousealt: mousealt {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSEALT";
            bindings = <&lt>, <&deletemod>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        deletemod: deletemod {
            compatible = "zmk,behavior-mod-morph";
            label = "DELETEMOD";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        timemod: timemod {
            compatible = "zmk,behavior-mod-morph";
            label = "TIMEMOD";
            bindings = <&kp TILDE>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        tomolayer: tomolayer {
            compatible = "zmk,behavior-hold-tap";
            label = "TOMOLAYER";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        shiftdance: shiftdance {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFTDANCE";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(LA(LG(M))))>, <&caps_word>;
        };

        swapper: swapper {
            compatible = "zmk,behavior-tri-state";
            label = "SWAPPER";
            #binding-cells = <0>;
            bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;

            ignored-key-positions = <2 3 7 16 17 18>;  // 키 위치를 숫자로 변환 필요
        };

        jum3: jum3 {
            compatible = "zmk,behavior-hold-tap";
            label = "JUM3";
            bindings = <&sk>, <&jum2>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        shift_lang1: shift_lang1 {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_LANG1";
            bindings = <&shiftsk LEFT_SHIFT>, <&lang>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        shift_lang2: shift_lang2 {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_LANG2";
            bindings = <&lang_temp>, <&shift_lang1>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
        };

        mo_caps: mo_caps {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_CAPS";
            bindings = <&mo>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
        };

        ps_di_mop: ps_di_mop {
            compatible = "zmk,behavior-mod-morph";
            label = "PS_DI_MOP";
            bindings = <&ps>, <&di>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bs_del1: bs_del1 {
            compatible = "zmk,behavior-mod-morph";
            label = "BS_DEL1";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bs_del2: bs_del2 {
            compatible = "zmk,behavior-mod-morph";
            label = "BS_DEL2";
            bindings = <&kp LC(BACKSPACE)>, <&kp LC(DELETE)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        bs_del3: bs_del3 {
            compatible = "zmk,behavior-hold-tap";
            label = "BS_DEL3";
            bindings = <&bs_del2>, <&bs_del1>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_ctrl_x {
            bindings = <&kp LC(X)>;
            key-positions = <22 24>;
        };

        combo_ctrl_c {
            bindings = <&kp LC(C)>;
            key-positions = <22 23>;
        };

        combo_ctrl_v {
            bindings = <&kp LC(V)>;
            key-positions = <23 24>;
        };

        delete {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        backspace {
            bindings = <&kp DELETE>;
            key-positions = <7 8>;
        };

        altf4 {
            bindings = <&kp LA(F4)>;
            key-positions = <0 34>;
        };

        end {
            bindings = <&esccombo>;
            key-positions = <1 2 3>;
        };

        bracketcombo {
            bindings = <&bracketmod>;
            key-positions = <27 29>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <12 13>;
        };

        layerexit {
            bindings = <&to 0>;
            key-positions = <2 3>;
        };

        fluent {
            bindings = <&kp LC(M)>;
            key-positions = <17 18>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 11>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };

        rawpaste {
            bindings = <&kp LC(LS(V))>;
            key-positions = <23 24 22>;
        };

        undo {
            bindings = <&kp LC(Z)>;
            key-positions = <21 22>;
        };

        reset_combo {
            bindings = <&sys_reset>;
            key-positions = <2 3>;
            layers = <4>;
        };

        jum_combo {
            bindings = <&kp PERIOD>;
            key-positions = <28 29>;
        };

        comma_combo {
            bindings = <&kp COMMA>;
            key-positions = <27 28>;
        };

        kmswitch_combo {
            bindings = <&kmswitch>;
            key-positions = <11 12 13>;
        };

        quote_combo {
            bindings = <&kp SQT>;
            key-positions = <0 1>;
        };
    };

    macros {
        ps: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp EXCL &kp T &kp J &kp D &kp W &kp N &kp S &kp N9 &kp N0 &kp N0 &kp N5>;

            label = "NEW_MACRO";
        };

        kmswitch: kmswitch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp CAPS &kp SCROLLLOCK &kp KP_NUMLOCK>,
                <&macro_wait_time 80>,
                <&macro_tap>,
                <&kp CAPSLOCK &kp SCROLLLOCK &kp KP_NUMLOCK>;

            label = "kmswitch";
        };

        fancyzone: lang_toggle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_wait_time 20>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_wait_time 20>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "LANG_TOGGLE";
        };

        lang_temp: lang_temp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LANGUAGE_1>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&kp LANGUAGE_1>;

            label = "LANG_TEMP";
        };

        bracket: bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;

            label = "BRACKET";
        };

        bracket2: bracket2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;

            label = "BRACKET2";
        };

        atlayertab: atlayertab {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER &to 0>;

            label = "atlayertab";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        atlayerhm: atlayerhm {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "atlayerhm";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        alttab: alttab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp TAB>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp TAB>;

            label = "ALTTAB";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        esccombo: esccombo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&to 0 &kp ESCAPE>;

            label = "ESCCOMBO";
        };

        mousefind: mousefind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp RIGHT_CONTROL>,
                <&macro_wait_time 10>,
                <&kp RIGHT_CONTROL>;

            label = "MOUSEFIND";
        };

        lang: lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LANGUAGE_1 &to 0>;

            label = "LANG";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        di: di {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp A &kp S &kp J &kp N9 &kp N0 &kp N0 &kp N5>;

            label = "DI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
       &kp LC(M)   &kp W       &kp E        &kp R         &kp T             &kp Y           &kp U             &kp I               &kp O           &bs_del3 0 0
       &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHIFT F  &kp G             &kp H           &hm RSHFT J       &hm LEFT_CONTROL K  &hm LEFT_ALT L  &hm LEFT_GUI SEMICOLON
&sl 4  &kp Z       &kp X       &kp C        &kp V         &kp Q             &kp B           &kp N             &kp M               &kp P           &question               &shiftdance
                               &sl 6        &lt 7 SPACE   &tomolayer 8 1    &tomolayer 2 2  &shift_lang2 0 0  &mo_caps 3 0
            >;
        };

        Mouse {
            display-name = "Mouse";
            bindings = <
        &atlayertab LC(M)        &atlayerspeed 5 W        &atlayertab E         &atlayertab R          &atlayerdo T T                &kp LS(LA(LC(LG(F))))  &mkp MB4        &mmv MOVE_UP    &mkp MB5         &di
        &atlayerhmbe LEFT_GUI A  &atlayerhmbe LEFT_ALT S  &atlayerhmbe LCTRL D  &atlayerhmbe LSHIFT F  &atlayerdo2 LG(UP_ARROW) G    &msc SCRL_LEFT         &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT
&trans  &atlayertab Z            &atlayertab X            &atlayertab C         &atlayertab V          &atlayerdo2 LS(LG(LEFT)) Q    &mkp MB2               &msc SCRL_UP    &msc SCRL_DOWN  &mkp MB3         &ps_di_mop       &trans
                                                          &trans                &trans                 &mkp MB1                      &trans                 &trans          &trans
            >;
        };

        Num {
            bindings = <
        &atlayertab LC(M)        &atlayertab W            &atlayertab E         &atlayertab R              &atlayertab T    &kp MINUS  &kp N7  &kp N8       &kp N9  &timemod
        &atlayerhmbe LEFT_GUI A  &atlayerhmbe LEFT_ALT S  &atlayerhmbe LCTRL D  &atlayerhmbe LEFT_SHIFT F  &atlayertab G    &kp N0     &kp N4  &kp N5       &kp N6  &jum2
&trans  &atlayertab Z            &atlayertab X            &atlayertab C         &atlayertab V              &atlayertab Q    &kp EQUAL  &kp N1  &kp N2       &kp N3  &kp SLASH  &trans
                                                          &trans                &trans                     &trans           &trans     &trans  &lt 3 ENTER
            >;

            label = "Num";
        };

        Fun {
            bindings = <
        &kp F12  &kp F7  &kp F8  &kp F9  &kp LC(F10)       &trans  &kp LS(COMMA)  &kp LS(PERIOD)  &trans    &trans
        &kp F11  &kp F4  &kp F5  &kp F6  &trans            &trans  &kp LSHFT      &kp LCTRL       &kp LALT  &kp LGUI
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &kp LANGUAGE_2    &trans  &trans         &trans          &trans    &trans    &trans
                         &trans  &trans  &trans            &trans  &trans         &trans
            >;

            label = "Fun";
        };

        Asj {
            bindings = <
        &sys_reset  &kp F23  &kp F24  &trans  &studio_unlock    &trans  &trans  &trans  &trans  &trans
        &trans      &trans   &trans   &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans   &trans   &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
                             &trans   &trans  &kmswitch         &trans  &trans  &trans
            >;
        };

        Fast {
            display-name = "Mouse";
            bindings = <
        &kp LC(LS(Q))    &trans  &trans  &trans  &fancyzone                &kp LS(LG(LA(LC(F))))  &mkp MB4            &mmv MOVE_Y(-3000)  &mkp MB5           &trans
        &kp PRINTSCREEN  &trans  &trans  &trans  &kp LG(UP_ARROW)          &msc MOVE_X(-50)       &mmv MOVE_X(-3000)  &mmv MOVE_Y(3000)   &mmv MOVE_X(2300)  &msc MOVE_X(50)
&trans  &trans           &trans  &trans  &trans  &kp LG(LS(LEFT_ARROW))    &mkp MB2               &msc MOVE_Y(50)     &msc MOVE_Y(-50)    &mkp MB3           &ps              &trans
                                 &trans  &trans  &mkp MB1                  &trans                 &trans              &trans
            >;

            label = "Fast";
        };

        Start {
            bindings = <
        &trans  &kp LG(LS(N1))  &kp LG(LS(N2))  &kp LG(LS(N3))  &kp LG(LS(N4))    &kp LG(LS(N5))  &kp LG(LS(N6))  &kp LG(LS(N7))  &kp LG(LS(N8))  &kp LG(LS(N9))
        &trans  &trans          &trans          &trans          &trans            &trans          &trans          &trans          &trans          &trans
&trans  &trans  &trans          &trans          &trans          &trans            &trans          &trans          &trans          &trans          &trans          &trans
                                &trans          &trans          &trans            &trans          &trans          &trans
            >;
        };

        Nav {
            bindings = <
        &kp LC(INS)  &kp LC(MINUS)  &kp LS(TAB)    &swapper           &fancyzone                &trans     &mt LC(BACKSPACE) BACKSPACE  &kp UP_ARROW   &mt LC(DELETE) DELETE  &trans
        &kp LGUI     &kp LALT       &kp LCTRL      &kp LSHFT          &kp LG(UP_ARROW)          &kp HOME   &kp LEFT_ARROW               &kp DOWN       &kp RIGHT_ARROW        &kp END
&trans  &trans       &kp LC(SPACE)  &kp LC(LS(Q))  &kp LA(LG(SPACE))  &kp LS(LG(LEFT_ARROW))    &kp LC(Z)  &kp PAGE_UP                  &kp PAGE_DOWN  &trans                 &trans   &trans
                                    &trans         &trans             &trans                    &kp ENTER  &trans                       &trans
            >;

            label = "Nav";
        };

        mshold {
            bindings = <
        &kp LC(LS(Q))    &mo 5   &kp LC(LS(TAB))    &kp LC(TAB)    &fancyzone          &kp LS(LA(LG(LC(F))))  &mkp MB4        &mmv MOVE_UP    &mkp MB5         &trans
        &kp PRINTSCREEN  &trans  &trans             &trans         &kp LG(UP_ARROW)    &msc SCRL_LEFT         &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT
&trans  &trans           &trans  &kp LC(LS(LG(T)))  &kp LS(LG(S))  &kp LG(LS(LEFT))    &mkp MB2               &msc SCRL_UP    &msc SCRL_DOWN  &mkp MB3         &ps              &trans
                                 &trans             &trans         &mkp MB1            &trans                 &trans          &trans
            >;

            label = "mshold";
        };

        layer_10 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
